div.-s-Card
	div.-s-Card__Image
		img(src="assets/images/illustration.jpg")
	div.-s-Card__Headline
		span Hello world !
	p.-s-Card__Text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
div.-s-Card
	div.-s-Card__Image
		img(src="assets/images/illustration.jpg")
	div.-s-Card__Headline
		span Hello world !
	p.-s-Card__Text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
